.npc{
  color: var(--color-heisenberg-600);
  font-weight: bold;
}

.enemy{
  color: #de7575;
  font-weight: bold;
}

.sub-description{
  font-size: 10px;
}

.difficult{
  position: absolute;
  content: '';
  width: 8px;
  height: 8px;
  left: -30px;
}

.easy{
  background-color: var(--color-green);
}
.medium{
  background-color: var(--color-yellow);
}
.hard{
  background-color: var(--color-red);
}
input[type="checkbox"],
input[type="radio"] {
  accent-color: #6fffad;
  width: 20px;
  height: 20px;
}

.gold{
  font-size: 10px;
  color: var(--color-yellow);
}

.message{
  position: fixed;
  font-size: 12px;
  left: 0px;
  bottom: 40vh;
  opacity: 0;

  &__succsess{
    padding: 15px;
    background-color: var(--color-dark-700);
    border-radius: var(--border-radius-medium);
    color: var(--color-light-400);
  }

}

.message__succsess-value{
  color: #ccc58a;
  font-weight: 900;
}

