.header{
  height: 80px;
  &__inner{
    display: flex;
    justify-content: space-between;
    color: var(--color-light-300)
  }
  &__menu{

    &-list{
      display: flex;
      align-items: center;
      height: 100%;
      gap: 20px;
    }
    &-link{
      font-weight: 700;
      font-size: 14px;
      text-transform: uppercase;

      &:hover{
        color: var(--color-heisenberg-500)
      }
    }
  }
}