.items{

  &__list{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 50px;

    &-counter{
      background-color: var(--color-accent);
      padding: 8.4px;
      text-align: center;
    }
    &-item{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 12px;
      padding: 10px;
      min-height: 100px;
      width: 100%;
      background-color: var(--background-color-block);
      border-radius: var(--border-radius-medium);
      img{
        align-self: center;
      }
      span{
        display: flex;
        flex-direction: column;
      }
    }
    &-title{
      text-align: center;
      font-size: 14px;
    }
  }
}