.location{

  &__list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;

    &-item{
      background-color: var(--color-dark-700);
      padding: 15px;
      display: grid;
      gap: 5px;
      grid-template-columns: 25px 1fr;
      grid-template-rows: 1fr 1fr;
      align-items: center;
      font-size: 14px;

      input{
        height: 15px;
        width: 15px;
      }
    }
  }
}
