.title{
  display: flex;
  flex-direction: column;
  background-color: var(--color-dark-600);
  border-radius: var(--border-radius-medium);
  padding: 10px;
  margin-top: 50px;
  gap: 10px;

  &__header{

  }
  &__list{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 14px;
    color: var(--color-light-300);
    counter-reset: list-counter;

    &-item{
      display: grid;
      gap: 10px;
      grid-template-columns: 250px 30px 110px 4fr;
      width: 100%;
      counter-increment: list-counter;
      position: relative;

      &::before{
        content: counter(list-counter) ; /* Добавляем номер перед элементом списка */
        font-weight: bold; /* Делаем номер жирным (по желанию) */
        position: absolute;
        left: -40px;
        top: 50%;
        transform: translateY(-50%);
        border: 1px solid var(--color-light-400);
        border-radius: 50%;
        aspect-ratio: 1;
        height: 20px;
        text-align: center;
        font-size: 12px;
      }

      &-cord{
        cursor: pointer;
        font-weight: 700;
        color: #ccc58a;

        &:active{
          scale:0.9;
          color: #f9fdca;
        }
      }
      &-name, &-get, &-description, &-checkbox{
        position: relative;
        box-shadow: -0px -1px 1px 1px rgba(87, 87, 87, 0.16);
        //border: var(--border);
        border-radius: var(--border-radius-medium);
        padding: 7px;
        background-color: var(--color-dark-800);
        align-items: center;
        display: flex;
        white-space: nowrap;
      }

      &-checkbox{
        justify-content: center;
      }
    }
  }
}

.title__list-item-description{
  order: 4;
}
.title__list-item-checkbox{
  order: 1;
}
.title__list-item-get{
  order: 2;
}
.title__list-item-name{
  order: 0;
}

.separator{
  margin-top: 50px;
  height: 50px;
  @include flex-center();
  text-transform: uppercase;

  border-radius: var(--border-radius-medium);
  background-color: var(--color-dark-700);
}