.title{
  background-color: var(--color-accent);
  border-radius: var(--border-radius-medium);
  &__name{
    display: inline-flex;
    padding: 7px;
    border-radius: var(--border-radius-medium);
  }

  &__list{
    &-item{
      display: flex;
      gap: 10px;
      justify-content: space-between;

      span{
        padding: 10px;
      }
    }
  }
}