.title{
  display: flex;
  flex-direction: column;
  background-color: var(--color-dark-600);
  border-radius: var(--border-radius-medium);
  padding: 10px;
  margin-top: 50px;
  gap: 10px;

  &__header{

  }
  &__list{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 14px;
    color: var(--color-light-300);

    &-item{
      display: grid;
      gap: 10px;
      grid-template-columns: 250px 30px 110px 4fr;
      width: 100%;

      &-cord{
        cursor: pointer;
        font-weight: 700;
        color: #ccc58a;

        &:active{
          scale:0.9;
        }
      }
      &-name, &-get, &-description, &-checkbox{
        position: relative;
        box-shadow: -0px -1px 1px 1px rgba(87, 87, 87, 0.16);
        //border: var(--border);
        border-radius: var(--border-radius-medium);
        padding: 7px;
        background-color: var(--color-dark-800);
        align-items: center;
        display: flex;
        white-space: nowrap;
      }

      &-checkbox{
        justify-content: center;
      }
    }
  }
}

.title__list-item-description{
  order: 4;
}
.title__list-item-checkbox{
  order: 1;
}
.title__list-item-get{
  order: 2;
}
.title__list-item-name{
  order: 0;
}